extends layout

block content
	script(src="/javascripts/lib/jquery.js")
	script(src="/socket.io/socket.io.js")
	
	script(src="/javascripts/utils.js")
	script(src="/javascripts/observable.js")
	script(src="/javascripts/selector-engine.js")
	script(src="/javascripts/ws-model.js")

	h1 WebSocketModel
	.panel
		label
			span Field
			input#name(type="text")
		label
			span Value
			textarea#value
		label
			span.inline JSON
			input#isJson(type="checkbox")
		.row
			button#set Set
			button#delete Delete
	pre
		code#modelView
	script
		(function () {
			var model = new WebSocketModel(),
				render = function (model) {
					$("#modelView").text(JSON.stringify(model, null, 4));
				},
				nameInput = $("#name"),
				valueInput = $("#value");

			model.bind("set", function (data, selector, value) {
				render(data);
			});

			model.bind("init", function (data, state) {
				render(data);
			});

			$("#set").on("click", function () {
				var name = nameInput.val(),
					value = valueInput.val();

				if ($("#isJson").prop("checked")) {
					value = JSON.parse(value);
				}
				model.set(name, value);
			});
			$("#delete").on("click", function () {
				model.purge(nameInput.val());
			});
		}());